@model Book

<p>
    <b>@Model.Title</b> İsimli kitabı silmek istediğine emin misin ?

    <form asp-action="Delete" method="post">
        <input type="hidden" value="@Model.Id" name="id">
        <button type="submit" class="btn btn-danger">Evet</button>
        <a asp-action="Index" class="btn btn-primary">Hayır</a>
    </form>
</p>
