@model Book

<h2>Kitap Güncelle</h2>
<hr>
<form asp-action="Edit" asp-controller="Book" method="post">
    <input type="hidden" asp-for="Id">
    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Author" class="form-label"></label>
        <input asp-for="Author" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="PublishYear" class="form-label"></label>
        <input asp-for="PublishYear" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Category" class="form-label"></label>
        <select asp-for="Category" class="form-select" asp-items="ViewBag.Categories">
            <option value="">Kategori Seçiniz</option>
        </select>
    </div>
    
    <button type="submit">Güncelle</button>
    
</form>