html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: var(--secondary-color);
  color: white;
}

/* Renk Değişkenleri */
:root {
  --primary-color: #ffbe33;
  --secondary-color: #222831;
}

/* Navbar Stili */
.navbar-custom {
  background-color: var(--secondary-color);
  height: 64px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
  width: 65px;
  height: 65px;
  object-fit: contain;
  border-radius: 50%;
  background-color: transparent;
  padding: 5px;
}

/* Black Button Stili */
.black_btn {
  border: 1px solid var(--primary-color);
  background-color: var(--secondary-color);
  color: white;
  padding: 8px 16px;
  border-radius: 999px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.black_btn:hover {
  background-color: var(--primary-color);
  color: black;
}

.page-title {
  color: var(--primary-color);
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 10px;
}
